@import "tailwindcss";

/* Custom global styles */

/* Announcement Section */

.announcement {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

/* Footer Section */

footer {
  font-size: 13px;
}

footer a {
  color: #df1529;
}
